@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
}
$primary-yellow: #ffd600;
$text-color: #3b2900;
$border-radius: 20px;

@font-face {
  font-family: 'YFO';
  src: url('../../assets/fonts/text-geo-black.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YFT';
  src: url('../../assets/fonts/text-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YFTh';
  src: url('../../assets/fonts/text-geo-heavy.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YFF';
  src: url('../../assets/fonts/text-geo-medium.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YFFi';
  src: url('../../assets/fonts/text-geo-bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YFS';
  src: url('../../assets/fonts/text-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.containerHome {
  margin-bottom: 10px;

  .oneBlock {
    background-image: url('../../assets/images/orig.png');
    height: 800px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;

    .navbarBlock {
      width: 880px;
      height: 70px;
    }

    .indexOne {
      display: none;
    }

    .yellowBlock {
      width: 860px;
      height: 540px;
      background-color: rgba(254, 216, 0, 0);
      margin-top: 30px;
      border-radius: 35px;
      display: flex;
      border: 15px solid rgb(254, 216, 0);

      .leftBlock {
        width: 50%;
        background-color: rgb(254, 216, 0);

        .logoClass {
          margin-top: 25px;
          margin-left: 30px;
          width: 330px;
          height: 60px;
        }

        .textZp {
          margin-top: 60px;
          margin-left: 30px;
          font-size: 45px;
          font-weight: 900;
          line-height: 40px;
          color: #200300;
          // font-family: "YS Text Regular Regular";
          font-family: "YFO", sans-serif;
        }

        .textZpTwo {
          margin-top: 20px;
          margin-left: 30px;
          font-size: 25px;
          font-weight: 500;
          color: #200300;
          // font-family: "YS Text Regular Regular";
          font-family: "YFT", sans-serif;
        }

        .addedAnket {
          background-color: rgb(34, 15, 9);
          color: white;
          font-family: "YFO", sans-serif;
          text-align: center;
          margin-left: 30px;
          width: 370px;
          height: 70px;
          font-size: 25px;
          font-weight: 700;
          margin-top: 120px;
          border: none;
          border-radius: 20px;
        }
      }

      .rightBlock {
        width: 50%;
        background-color: rgba(254, 216, 0, 0);
        border-radius: 50px;
        background-clip: padding-box;

        .rightPodBlock {
          border-radius: 10px;
        }
      }
    }
  }

  .twoBlock {
    position: absolute;
    z-index: 3;
    background-color: rgb(254, 216, 0);
    margin-top: -30px;
    border-radius: 50px 50px 0 0 ;
    width: 100%;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;

    .blockZabota {
      width: 880px;
      background-color: rgba(255, 0, 0, 0);
    }
  }

  .threeBlock {

    .blockThree {
      width: 880px;
      background-color: rgba(255, 0, 0, 0);
    }

    position: absolute;
    z-index: 3;
    background-color: rgb(255, 255, 255);
    margin-top: 2200px;
    border-radius: 50px 50px 0 0 ;
    width: 100%;
    padding-bottom: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .blockString {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      background-color: rgba(87, 38, 38, 0);
      margin-top: 50px;
      height: 190px;
      display: flex;
      justify-content: space-between;
      

      .spanText {
        font-size: 90px;
        font-family: "YFO", sans-serif;
        font-weight: 800;
        color: rgb(29, 14, 10);
      }

      .imgSumka {
        width: 170px;
      }
    }
  }

  .fourBlock {
    position: absolute;
    z-index: 4;
    background-color: rgb(34, 15, 9);
    margin-top: 3300px;
    border-radius: 50px 50px 0 0 ;
    width: 100%;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;

    .blockFour {
      width: 880px;
      background-color: rgba(255, 0, 0, 0);
    }
  }

  .fiveBlock {
    position: absolute;
    z-index: 5;
    background-color: rgb(255, 255, 255);
    margin-top: 4300px;
    border-radius: 50px 50px 0 0 ;
    width: 100%;
    padding-bottom: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .blockFives {
      width: 100%;

      .blockString {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        background-color: rgba(87, 38, 38, 0);
        margin-top: 50px;
        height: 190px;
        display: flex;
        justify-content: space-between;
        
        .spanText {
          font-size: 90px;
          font-family: "YFO", sans-serif;
          font-weight: 800;
        }

        .imgSumka {
          width: 170px;
        }
      }
    }

    .blockFive {
      width: 880px;
      background-color: rgba(255, 0, 0, 0);
      margin-top: 60px;

      
    }
    .citisBlock {
      width: 880px;
      display: flex;
      margin-top: 100px;
      justify-content: space-between;

      .blockBig {
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffd600;
        color: #200300;
        border-radius: 15px;

      }

      .textBlock {
        font-size: 25px;
        font-family: "Rubik", sans-serif;
        font-weight: 800;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .oneBlock { 
    width: 100% !important;
  }

  .yellowBlock { 
    width: 90% !important;

    .logoClass {
      width: 280px !important;
    }

    .textZp { 
      font-size: 35px !important;
    }

    
    .textZpTwo { 
      font-size: 20px !important;
    }
    
    .addedAnket { 
      width: 280px !important;
      font-size: 20px !important;
    }
  }

  .blockThree { 
    width: 90% !important;
  }

  .citisBlock { 
    width: 90% !important;
  }

  .navbarBlock {
    width: 90% !important;
    height: 70px;
  }

  .fourBlock {
    position: absolute;
    z-index: 4;
    background-color: rgb(34, 15, 9);
    margin-top: 3300px;
    border-radius: 50px 50px 0 0 ;
    width: 100%;
    padding-bottom: 900px !important;
    display: flex;
    justify-content: center;
  }

  .fiveBlock {
    position: absolute;
    z-index: 5;
    background-color: rgb(255, 255, 255);
    margin-top: 4920px;
    border-radius: 50px 50px 0 0 ;
    width: 100%;
    padding-bottom: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {

  
  .navbarBlock {
    width: 100% !important;
    height: 20px !important;
    background-image: url('../../assets/images/orig.png');
    background-position: center!important;
    background-repeat: no-repeat;
    background-size: 1700px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999 !important;
    position: fixed !important;
  }

  .oneBlock {
    background-image: url('../../assets/images/mainPagemobile.png') !important;
    height: 900px !important;
    width: 100%;
    background-position: center 0px !important;; 
    background-repeat: no-repeat;
    background-size: cover !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1 !important;
  }

  .twoBlock {
    position: absolute;
    z-index: 3;
    background-color: rgb(254, 216, 0);
    margin-top: -70px !important;
    border-radius: 50px 50px 0 0 ;
    width: 100%;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;

    .blockZabota {
      width: 100% !important;
      background-color: rgba(255, 0, 0, 0);
    }
  }

  .yellowBlock { 
    display: none !important;
  }

  .indexOne {
    height: 900px !important;
    width: 90%;
    display: block !important;

    .textsZpIndexOne {
      margin-top: 150px !important;

      .textZp {
        margin-top: 60px;
        margin-left: 20px;
        font-size: 38px;
        font-weight: 1000;
        line-height: 30px;
        color: #200300;
        font-family: "Rubik", sans-serif;
      }
  
      .textZpTwo {
        margin-top: 18px;
        margin-left: 20px;
        font-size: 20px;
        font-weight: 600;
        color: #200300;
        font-family: "Rubik", sans-serif;
      }
    }

    .btnsLink {
      position: absolute;
      margin-top: 470px;


      .btnTextLink {
        height: 60px;
        width: 300px;
        margin-left: 40px;
        color: white;
        font-family: "Rubik", sans-serif;
        font-size: 20px;
        font-weight: 600;
        border: none;
        background-color: rgba(0, 0, 0, 0);
      }
    }

    
    
  }
  .logoClass {
    display: none !important;
  }

  .fourBlock {
    position: absolute;
    z-index: 4;
    background-color: rgb(34, 15, 9);
    margin-top: 3300px;
    border-radius: 50px 50px 0 0 ;
    width: 100%;
    padding-bottom: 100px !important;
    display: flex;
    justify-content: center;
  }

  .fiveBlock {
    position: absolute;
    z-index: 5;
    background-color: rgb(255, 255, 255);
    margin-top: 4920px;
    border-radius: 50px 50px 0 0 ;
    width: 100%;
    padding-bottom: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .threeBlock {
    position: absolute;
    z-index: 3;
    background-color: rgb(255, 255, 255);
    margin-top: 1000px;
    border-radius: 50px 50px 0 0 ;
    width: 100%;
    padding-bottom: 100px !important;
    display: flex;
    align-items: center;
    flex-direction: column;


    .blockThree {
      width: 880px;
      background-color: rgba(255, 0, 0, 0);
    }

   
    .blockString {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      background-color: rgba(87, 38, 38, 0);
      margin-top: 50px;
      height: 190px;
      display: flex;
      justify-content: space-between;
      

      .spanText {
        font-size: 40px !important;
        font-family: "YFO", sans-serif;
        font-weight: 800;
      }

      .imgSumka {
        width: 110px !important;
      }
    }
  }

  .fiveBlock {
    position: absolute;
    z-index: 5;
    background-color: rgb(255, 255, 255);
    margin-top: 400px;
    border-radius: 50px 50px 0 0 ;
    width: 100%;
    padding-bottom: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .blockFives {
      width: 100%;

      .blockString {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        background-color: rgba(87, 38, 38, 0);
        margin-top: 10px !important;
        height: 190px;
        display: flex;
        justify-content: space-between;

        .spanText {
          font-size: 50px !important;
          font-family: "YFO", sans-serif;
          font-weight: 800;
        }

        .imgSumka {
          width: 100px !important;
        }
      }
    }
  }

  .textBlock {
    font-size: 15px !important;
    font-family: "YFO", sans-serif;
    font-weight: 800;
  }

  .citisBlock {
    width: 880px;
    display: flex;
    margin-top: 10px !important;
    justify-content: space-between;
  }
}


@media screen and (max-width: 400px) {
  .oneBlock {
    background-image: url('../../assets/images/mainPagemobile.png') !important;
    height: 900px !important;
    width: 100%;
    background-position: center 0px !important;; 
    background-repeat: no-repeat;
    background-size: 400px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1 !important;
  }

  .btnsLink {
    position: absolute;
    margin-top: 400px !important;

    .btnTextLink {
      height: 60px;
      width: 300px;
      margin-left: 20px !important;
      color: white;
      font-family: "YFO", sans-serif;
      font-size: 20px;
      font-weight: 600;
      border: none;
      background-color: rgba(0, 0, 0, 0);
    }
  }
}

.btnAllCitys {
  height: 60px;
  width: 100%;
  color: rgb(255, 255, 255);
  font-family: "YFO", sans-serif;
  font-size: 20px;
  font-weight: 600;
  border: none;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
}
